<!-- footer start -->
<footer class="footer-light bg-light">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="title text-center mb-5">

                        <img src="/static/img/logo.png" alt="" class="img-fluid mx-auto d-block mb-3" width="100">

                        <h2>wordtopdf.projecttopics.org</h2>
                        <p class="copyright mt-3">2019 © Recode Limited.</p>
                        <ul class="footer-texts list-inline mb-2">
                            <li class="list-inline-item"><a href="#" class="">Privacy</a></li>
                            <li class="list-inline-item"><a href="#" class="">Terms & Conditions</a></li>
                        </ul>
                    </div>



                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
