<!DOCTYPE html>
<html>
	<head>
        <title>{{ title }} </title>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{ description }}">
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="PDF Converter">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="https://wordtopdf.projecttopics.org/static/img/{{ thumbnail }}">
        <meta name="robots" content="noindex,nofollow"></head>
        <link rel="shortcut icon" href="/static/img/favicon.png">
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" typpe="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	    <link href="/static/style.css" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic" rel="stylesheet" type="text/css" />
	    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="ws88tqx0q7y932h"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    </head>
    <body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136701175-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-136701175-1');
        </script>
    	<header>
    		<nav class="navbar card">
			  <div class="container-fluid">
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
			      <a class="navbar-brand" href="/"><img class="logo" src="/static/img/nlogo.png"></a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
				    <ul class="nav navbar-nav">
                        {%  for converter in converters %}
				      <li><a href="{{ converter.get_absolute_url }}">{{ converter.title }} </a></li>
				        {%  endfor %}
				    </ul>
				</div>
			  </div>
			</nav>
    	</header><!--content-->