{% include 'includes/header.html' %}
    	<main>
    		<div class="container">
            <div class="row">
                <div class="col-md-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Word to PDF Ad -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2546190987663437"
                     data-ad-slot="6821366284"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                </div>

            </div>

    			<div class="row">
                    {%  for converter in converters %}
    				<div class="col-md-4 col-sm-4 col-xs-6">
    					<div class="circlediv text-center">
    						<a href="{{ converter.get_absolute_url }}">
    							<div class="circle">
    								<img src="/static/img/{{ converter.image_file }}" class="img-responsive">
    							</div>
    							{{ converter.title }}
    						</a>
    					</div>
    				</div>
                    {%  endfor %}
    			</div>
            <div class="row">
                <div class="col-md-12">
                 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Word to PDF Ad -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-2546190987663437"
                         data-ad-slot="6821366284"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
    		</div>
        {%  include 'includes/footer.html' %}
    	</main>
	<script
  			src="https://code.jquery.com/jquery-3.3.1.min.js"
  			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
	</body>
</html>
